<div class="factions-list bg-industrial-dark text-white p-4">
    <h2 class="text-industrial-metal text-xl font-bold mb-4">Factions</h2>
    <ul>
      <li
        *ngFor="let faction of factions"
        class="p-2 border-b border-industrial-metal flex justify-between"
      >
        <span class="name font-semibold">{{ faction.name }}</span>
        <span class="power text-industrial-rust">{{ faction.power }}</span>
      </li>
    </ul>
  </div>
  <div class="players-table bg-industrial-dark text-white p-4 mt-8">
    <h2 class="text-industrial-metal text-xl font-bold mb-4">Players Table</h2>
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-industrial-light text-industrial-metal">
          <th class="p-2 text-left">Name</th>
          <th class="p-2 text-left">Faction Name</th>
          <th class="p-2 text-left">Faction Prestige</th>
          <th class="p-2 text-left">Battles</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let player of playersTable"
          class="border-b border-industrial-metal hover:bg-industrial-light"
        >
          <td class="p-2">{{ player.name }}</td>
          <td class="p-2">{{ player.factionName }}</td>
          <td class="p-2">{{ player.factionPrestige }}</td>
          <td class="p-2">{{ player.battles }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  